/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

:root {

  /*** colors ***/

    --primary-bg: hsl(243, 23%, 18%);

  /*** typography ***/

    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    --fs-1: 3.5rem;
    --fs-2: 3rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.3rem;

    --fw-600: 600;
    --fw-700: 700;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: var(--ff-open-sans);
    scroll-behavior: smooth;
}

li { list-style: none; }

a {
    text-decoration: none;
    color: inherit;
}

a,
img,
span,
input,
strong,
button,
textarea,
ion-icon { display: block; }

img { height: auto; }

ion-icon {
    pointer-events: none;
    color: var(--white);
}





:focus-visible { outline-offset: 4px; }
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }
::-webkit-scrollbar-thumb { background-color: var(--primary-bg) }
::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }