/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

:root {

  /*** colors ***/

    --primary-bg: hsl(243, 23%, 18%);
    --shadow-color: hsl(254, 7%, 65%);

    --fanta: hsl(7, 96%, 61%);

    --white: hsl(0, 0%, 100%);

  /*** typography ***/

    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    --fs-1: 3.5rem;
    --fs-2: 3rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.3rem;

    --fw-600: 600;
    --fw-700: 700;

  /*** shadow ***/

    --shadow: 0 -5px 10px var(--shadow-color);

  /*** transition ***/

    --transition-1: 0.10s ease;
    --transition-2: 0.50s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: var(--ff-open-sans);
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg);
    color: var(--body-text);
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
}

li { list-style: none; }

a {
    text-decoration: none;
    color: inherit;
}

.h2,
.h3 {
    color: var(--white);
    font-family: var(--ff-barlow);
    font-weight: var(--fw-600);
    line-height: 1.3;
}

.h2 { font-size: var(--fs-2); }
.h3 { font-size: var(--fs-3); }

a,
img,
span,
input,
strong,
button,
textarea,
ion-icon { display: block; }

img { height: auto; }

ion-icon {
    pointer-events: none;
    color: var(--white);
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
    position: fixed;
    padding-block: 15px;
    width: 100%;
    background-color: var(--primary-bg);
    height: 50px;
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: 0.50s var(--cubic-out);
    z-index: 1000;
}

.header.nav-active {
  height: 335px;
  transition-duration: 0.35s;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--white);
    font-family: var(--ff-poppins);
    font-size: 2.4rem;
}

.nav-toggle-btn { font-size: 3rem; }

.nav-toggle-btn .close-icon,
.nav-toggle-btn.active .menu-icon { display: none; }

.nav-toggle-btn.active .close-icon,
.nav-toggle-btn .menu-icon { display: block; }

.navbar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding-inline: 20px;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-2);
}

.header.nav-active .navbar {
    visibility: visible;
    opacity: 1;
}

.navbar-link {
    color: var(--white);
    font-family: var(--ff-barlow);
    padding-block: 3px;
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--fanta); }

.navbar .btn {
    background-color: var(--fanta);
    margin-block-start: 15px;
}

/*-----------------------------------*\
  #Scroll Bar
\*-----------------------------------*/

:focus-visible { outline-offset: 4px; }
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }
::-webkit-scrollbar-thumb { background-color: var(--primary-bg) }
::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }